.olControlScaleLine
{
    background: #777777;
    color: #ffffff;
    left: 2px !important;
    bottom: 0px !important;
}

.olControlNavToolbar
{
    top: 0 !important;
}
.olControlNavigationItemInactive
{
    background: #787878 !important;
    border: 2px solid #232323;
    cursor: pointer;
    left: 0 !important;
    top: 0 !important;
}
.olControlNavigationItemActive
{
    background: #dedede !important;
    border: 2px solid #787878;
    cursor: pointer;
    left: 0 !important;
    top: 0 !important;
}
.olControlZoomBoxItemInactive
{
    background: #336699 !important;
    border: 2px solid #232323;
    cursor: pointer;
    left: 0 !important;
    top: 0 !important;
}
.olControlZoomBoxItemActive
{
    background: #77aadd !important;
    border: 2px solid #5588aa;
    cursor: pointer;
    left: 0 !important;
    top: 0 !important;
}

.olControlOverviewMapMaximizeButton, .olControlOverviewMapMinimizeButton
{
    bottom: 80px !important;
}
.olControlOverviewMapElement
{
    background: #cdcdcd !important;
}
.olControlOverviewMapExtentRectangle
{
    background: rgba(60,90,120,.7);
    border: 2px dashed #22dd22 !important;
}


.olControlPanZoomBar
{
    top:10px !important;
    right: 45px !important;
    left: auto !important;
}

.customEditingToolbar {
            float: right;
            right: 0px;
            height: 30px; 
        }
        .customEditingToolbar div {
            float: right;
            margin: 5px;
            width: 24px;
            height: 24px;
        }
        .olControlNavigationItemActive { 
            background-image: url("../openlayers/theme/default/img/editing_tool_bar.png");
            background-repeat: no-repeat;
            background-position: -103px -23px; 
        }
        .olControlNavigationItemInactive { 
            background-image: url("../openlayers/theme/default/img/editing_tool_bar.png");
            background-repeat: no-repeat;
            background-position: -103px -0px; 
        }
        .olControlDrawFeaturePolygonItemInactive { 
            background-image: url("../openlayers/theme/default/img/editing_tool_bar.png");
            background-repeat: no-repeat;
            background-position: -26px 0px; 
        }
        .olControlDrawFeaturePolygonItemActive { 
            background-image: url("../openlayers/theme/default/img/editing_tool_bar.png");
            background-repeat: no-repeat;
            background-position: -26px -23px ;                                                                   
        }
        .olControlModifyFeatureItemActive { 
            background-image: url("../openlayers/theme/default/img/move_feature_on.png");
            background-repeat: no-repeat;
            background-position: 0px 1px;
        }
        .olControlModifyFeatureItemInactive { 
            background-image: url("../openlayers/theme/default/img/move_feature_off.png");
            background-repeat: no-repeat;
            background-position: 0px 1px;
        }
        .olControlDeleteFeatureItemActive { 
            background-image: url("../openlayers/theme/default/img/remove_point_on.png");
            background-repeat: no-repeat;
            background-position: 0px 1px;
        }
        .olControlDeleteFeatureItemInactive { 
            background-image: url("../openlayers/theme/default/img/remove_point_off.png");
            background-repeat: no-repeat;
            background-position: 0px 1px;
        }
